/* Name: Christian Shingiro Student No.: 7537202 */
/* Name: Mohammad Abdullah Student No.: 8773900*/
/* Name: Alexander Mykitschak Student No.: 6245344 */


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'STIX Two Text', serif;
}

body {
	background-color: #8ecae6;
	color: #023047;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* Small */

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 50px;
}

#studentButton {
	border: none;
	background-color: #fb8500;
	padding: 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-weight: 500;
}

#studentButton:hover {	background-color: #ffb703;
}

.forms {
	display: flex;
	align-items: center;
	justify-content: center;
}

.forms form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin-top: 30px;
}


.forms form input:not([type="submit"]) {
	width: 275px;
	height: 30px;
	padding: 5px;
	border: none;
	outline-color: #219ebc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.forms form input[type="submit"] {
	padding: 10px;
	border: none;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	background-color: #fb8500;
}

.forms form input[type="submit"]:hover {
	background-color: #ffb703;
}

p {
	font-size: 12px;
	font-style: italic;
}